@use '../components/all.scss' as componentsAll;
@use '../features/all.scss' as featuresAll;

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-black w-full h-full;
}
body {
  font-family: 'SEQUEL100-66', 'SEQUEL100-96', 'SEQUEL100-66-light', sans-serif;
}
#__next {
  height: 100%;
}



.red-span-text {
  @apply text-[#C5002C];
}

@font-face {
  font-family: 'SEQUEL100-96';
  src: url('../public/fonts/SEQUEL100BLACK-96.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SEQUEL100-66';
  src: url('../public/fonts/SEQUEL100BLACK-66.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SEQUEL100-66-light';
  src: url('../public/fonts/SEQUEL100BLACK-66.TTF') format('truetype');
  font-weight: light;
  font-style: light;
}
