.how-to-join-lower-container {
  @apply flex flex-col gap-[15px];
  @apply w-full h-[100vh];
  @apply text-white;
}

.how-to-join-lower-action-container {
  @apply flex flex-row mr-[200px];
}

.big-cards-right-container {
  @apply w-[430px] h-[470px] float-left align-middle mr-[200px];
}

.htjb-small-text {
  font-family: 'SEQUEL100-66', sans-serif;
  @apply mr-[200px] mt-[5vh];
}

.htjb-text-content {
  @apply max-w-[1000px]
}

.htjb-header {
  @apply flex flex-col w-full;
  @apply ml-[200px];
}

.htjb-text {
  @apply text-[40px] leading-[75px] mb-[-15px];
  font-family: 'SEQUEL100-96', sans-serif;
}

.htjb-subheader {
  @apply text-[64px] leading-[75px] text-[#C5002C];
  font-family: 'SEQUEL100-96', sans-serif;
}

.htjb-text-bottom {
  @apply text-center mt-[5vh] items-center mx-[15vw];
  @apply text-[24px] leading-[34px];
}

.htjb-text-container {
  @apply ml-[200px] mt-[5vh] flex flex-row;
  @apply justify-between;
}

.htjb-text-bottom {
  @apply text-center mt-[5vh] items-center ml-[25vw];
  @apply text-[24px] leading-[34px];
}
